<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <!--    <bean id="emp1" class="org.example.Employee">&lt;!&ndash; scope="singleton"&ndash;&gt;-->
    <!--        <constructor-arg value="20" type="long"/>&lt;!&ndash; constructor-injection &ndash;&gt;-->
    <!--        <constructor-arg value="samy" type="java.lang.String"/>-->
    <!--        <constructor-arg value="5000" type="double"/>-->
    <!--        <constructor-arg ref="dept"/>-->
    <!--        <constructor-arg>-->
    <!--            <list>-->
    <!--                <ref bean="address1"/>-->
    <!--                <ref bean="address2"/>-->
    <!--                <ref bean="address3"/>-->
    <!--            </list>-->
    <!--        </constructor-arg>-->
    <!--    </bean>-->

    <!--    setter injection -->
    <bean id="emp2" class="org.example.Employee" scope="singleton">
        <property name="id" value="20"/>
        <!--        <property name="name" value="ahmed saleh"/>-->
        <!--        <property name="salary" value="2000.45"/>-->
        <property name="department" ref="dept"/>
        <property name="addresses">
            <list>
                <ref bean="address1"/>
                <ref bean="address2"/>
                <ref bean="address3"/>
            </list>
        </property>
    </bean>

    <bean id="address1" class="org.example.Address">
        <property name="id" value="1"/>
        <property name="name" value="cairo"/>
    </bean>
    <bean id="address2" class="org.example.Address">
        <property name="id" value="2"/>
        <property name="name" value="gize"/>
    </bean>
    <bean id="address3" class="org.example.Address">
        <property name="id" value="3"/>
        <property name="name" value="maadi"/>
    </bean>
    <bean id="dept" class="org.example.Department">
        <property name="id" value="1"/>
        <property name="name" value="IS"/>
    </bean>

    <!--    show bean life cycle    -->
    <bean id="beanCycle" class="org.example.ShowBeanLifeCycle" scope="singleton" init-method="init" destroy-method="cleanup"/>
</beans>
